<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>io.kilian.n26</string>
	<key>connections</key>
	<dict/>
	<key>createdby</key>
	<string>Kilian Koeltzsch</string>
	<key>description</key>
	<string>List your latest N26 transactions</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>N26</string>
	<key>objects</key>
	<array/>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict/>
	<key>webaddress</key>
	<string>https://github.com/kiliankoe/alfred_n26</string>
</dict>
</plist>
